<% post.comments.each do |comment| %>
                        <li class="collection-item avatar " style="padding-left:0px">
                                <div class="row">
                                    <div class="col s1">
                                          <%= cl_image_tag(comment.profile.photo, :width => 50, :height => 50, 
                                     :crop => :fill, :gravity => :face,:radius => 10 , class:"responsive-img left-align")%>

                                    </div>
                                    <div class="col s11">
                                     <strong><%= comment.profile.first_name%></strong><br>
                                      <p class="text-black"><%= comment.message%></p><br>
                                      <span class="blue-grey-text text-lighten-3">
                                        <%= comment.created_at.strftime("%d-%b a las %d:%I %p")%>
                                      </span>
                                    </div>
                                </div>
                                <div class="row">
                                 <div class="s12">
                                    
                                 </div>
                                </div>
                          </li>
                       
                       <% end %> 