<div id="map"></div>

<script type="text/javascript">
  var map;
  function initMap() {
    
    var postPlace = {lat: <%= @post.place.latitude %>, lng: <%= @post.place.longitude %>};
    
    map = new google.maps.Map(document.getElementById('map'), {
      center: postPlace,
      zoom: 18
    });
    
    var marker = new google.maps.Marker({
      position: postPlace,
      map: map,
      title: '<%= @post.title %>'
    });
  }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBom9ZSJTdmYboSyMFOftOM8Le-L-jcTHU&callback=initMap">
</script>